{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="row pt-5 ml-4">
    <div class="col-9">
        <img src="{{ asset('assets/pictures/BODY/pub guitare.png') }}" class="img-fluid"/>
    </div>
    <div class="col-3">
        <a href="" ><img src="{{ asset('assets/pictures/BODY/banniere droite prix.png') }}" class="img-fluid"/></a>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12">
        <img src="{{ asset('assets/pictures/BODY/banniere centre 4 pictos.png') }}" class="img-fluid"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="h3 pl-5 mt-3" id="p-cat">Nos catégories</p>        
    </div>
</div>
<div class="row px-3">
    <div class="col-3 px-0">
        <a id="guitare-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES guitare.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="batterie-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES batterie.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="piano-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES piano.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="micro-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES micro.png') }}" class="img-fluid"/></a>     
    </div>
</div>
<div class="row px-3">
    <div class="col-3 px-0">
        <a id="sono-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES sono.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="cases-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES cases.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="cable-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES cable.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-3 px-0">
        <a id="saxo-over" href="" ><img src="{{ asset('assets/pictures/BODY/CATEGORIES saxo.png') }}" class="img-fluid"/></a>     
    </div>
</div>
<div class="row">
    <div class="col-7">
        <p class="h3 pl-5 mt-4" id="p-cat">Nos meilleurs ventes</p>        
    </div>
    <div class="col-5">
        <p class="h3 pl-0 mt-4" id="p-cat">Nos partenaire</p>        
    </div>
</div>
<div class="row px-3">
    <div class="col-7 pl-5 px-0">
        <a id="guitare-vente" href="" ><img src="{{ asset('assets/pictures/BODY/TOP VENTES guitare.png') }}" class="img-fluid"/></a>
        <a id="saxo-vente" href="" ><img src="{{ asset('assets/pictures/BODY/TOP VENTES saxo.png') }}" class="img-fluid"/></a>
        <a id="piano-vente" href="" ><img src="{{ asset('assets/pictures/BODY/TOP VENTES piano.png') }}" class="img-fluid"/></a>
    </div>
    <div class="col-5">
        <img src="{{ asset('assets/pictures/BODY/partenaires 4 logos.png') }}" class="img-fluid"/>    
    </div>
</div>
{% endblock %}
