{% extends 'base.html.twig' %}

{% block title %}Commercial{% endblock %}

{% block body %}
    <h1>Commercial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ComId</th>
                <td>{{ commercial.comId }}</td>
            </tr>
            <tr>
                <th>ComName</th>
                <td>{{ commercial.comName }}</td>
            </tr>
            <tr>
                <th>ComMail</th>
                <td>{{ commercial.comMail }}</td>
            </tr>
            <tr>
                <th>ComPassword</th>
                <td>{{ commercial.comPassword }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commercial_index') }}">back to list</a>

    <a href="{{ path('commercial_edit', {'comId': commercial.comId}) }}">edit</a>

    {{ include('commercial/_delete_form.html.twig') }}
{% endblock %}
